body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 30px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 700px;
    margin: auto;
}

button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
}

ul {
    padding-left: 20px;
}

li {
    margin: 8px 0;
}